# Bỏ qua dữ liệu thô và tập huấn luyện
# Lưu ý: giữ lại data/template_config.json cho API
!data/template_config.json

# Bỏ qua các tệp theo dõi version
.dvc/
.git/
.gitignore
.dvcignore
dvc.lock
dvc.yaml

# Bỏ qua mã nguồn train không cần thiết cho API
__pycache__/
*.ipynb
train.py
generate_data.py
docker-compose.yml