__pycache__/
*.py[cod]
.env
*.env
venv/
.venv/
mlruns/
.vscode/
.idea/
data_retrain/
retrain_dataset/
.DS_Store

/data/bubbles/
/data/synthetic_images/
/data/processed/
/data/raw/
/retrain_dataset/

/models/
*.pth

__pycache__/
*.pyc