fastapi
uvicorn
python-multipart
mlflow
boto3
opencv-python-headless
prometheus-client==0.17.1
numpy
streamlit
torchvision
requests
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch